<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Preguntas Frecuentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image" no-scroll padding>

<ion-title><img src="assets/img/confundido.png" /></ion-title>

<ion-card class="fondo">
  <ion-card-header >
    
    <ion-card-title color="dark" ><ion-text>¿Cómo funciona PerrunosApp? </ion-text></ion-card-title>
    
  </ion-card-header>

  <ion-card-content class="host">
    Aquí te damos más información sobre nosotros, si tienes más dudas, comunícate con nosotros a través de nuestros email perrunosapps@gmail.com 
  </ion-card-content>
</ion-card>

<ion-card-title color="success">PerrunosApp</ion-card-title>
<ion-card>
  <ion-card-header>
    <ion-card-title>¿Como modificar los datos del perfil?</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Desde el menú principal, seleccionar el icono que se encuentra en la parte superior izquierda. Se desplegará un menú secundario donde se podrá seleccionar el perfil para modificarlo
  </ion-card-content>
</ion-card>


<ion-card>
  <ion-card-header>
    <ion-card-title>¿Cómo publicito en PerrunosAPP?</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Para publicitarte, contáctate a nuestro email perrunosapps@gmail.com
  </ion-card-content>
</ion-card>


<ion-card-title color="success">Dueños</ion-card-title>

<ion-card>
  <ion-card-header>
    <ion-card-title>¿Como contratar un servicio?</ion-card-title>
  </ion-card-header>
  
  <ion-card-content>
    <div>
     En el menu principal podra seleccionar en el boton SERVICIOS para seleccionar el servicio que desee contratar</div>
    
        <img src="../../assets/img/paseo1.png" />
     
  

      <div>Una vez que se encuentre en la sección SERVICOS, podrá elegir el tipo de servicio que desee, optar por filtrar la zona o simplemente seleccionar la opción BUSCAR AVISOS y traerá todas las zonas.
    Aquí podrá ver el detalle de cada servicio brindado y contactarse con cada especialidad</div>

    <ion-card-content><img src="../../assets/img/paso2.png" /></ion-card-content>  
    
  </ion-card-content>

</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>¿Como cargar los datos de una mascota?</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Desde el menú principal, seleccionar el icono que se encuentra en la parte superior izquierda. Se desplegará un menú secundario donde se podrá seleccionar la opcion MIS MASCOTAS para modificarlo o agregas una mascota
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>¿Es necesario que cargue los datos de mi mascota para usar los servicios?</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Si, con el fin de poder determinar cuál será la mascota que utilice el servicio, se necesita tener los datos cargados y completos
  </ion-card-content>
</ion-card>


<ion-card>
  <ion-card-header>
    <ion-card-title>¿Si tengo más de una mascota, puedo cargar más de un perro?</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Si, podes hacerlo atreves de la opción AGREGAR MASCOTA
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>¿Cómo puedo saber más sobre el servicio que se brinda?</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Podrás acceder al detalle de cada uno de los servicios donde vas a poder ver su calificación, precio y horarios 
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>¿Cómo finalizo un servicio?</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Una vez que el servicio concluye, podes acceder a la sección de SERVICIOS ACTUALES donde vas a poder seleccionar el servicio a finalizar y dónde vas a poder pagarlo
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>¿Cómo se paga en la aplicación?</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Podes pagar tanto en efectivo como con tarjeta de crédito
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>¿Me pide un token?</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Para poder iniciar un servicio o finalizarlo, el prestador de tu servicio te dará un token con el cual vas a poder realizarlo
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>¿Cómo participo de las promociones?</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Si cumplís con los requisitos, simplemente preséntate en el local con la publicidad en la aplicación y podrás acceder a beneficios 
  </ion-card-content>
</ion-card>




<ion-card-title color="success">PASEADORES, GUARDERIAS Y ESPECIALISTAS</ion-card-title>
<ion-card>
  <ion-card-header>
    <ion-card-title>¿Cómo crear una publicación?</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    En el menú principal encontraras la opción PUBLICAR AVISO en el podrás seleccionar las opciones que necesites para describir tu servicio 
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>¿Dónde encuentro mi token?</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    En el menú superior izquierdo vas a poder encontrar dentro de las opciones tu token 
  </ion-card-content>
</ion-card>







</ion-content>