<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Preguntas Frecuentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image" no-scroll padding>
<ion-text color="secondary">
  <h1><ion-title>¿Cómo funciona PerrunosApp?</ion-title></h1>
</ion-text>
<ion-title><img src="assets/img/confundido.png" /></ion-title>

<ion-card class="fondo">
  <ion-card-header >
    
    <ion-card-title  ><ion-text color="dark">Preguntas Frecuentes </ion-text></ion-card-title>
    
  </ion-card-header>

  <ion-card-content>
    Aquí te damos más información sobre nosotros, si tienes más dudas, comunícate con nosotros a través de nuestros diversos medios de contacto.
  </ion-card-content>
</ion-card>

<ion-card-title>PerrunosApp</ion-card-title>
<ion-card>
  <ion-card-header>
    <ion-card-title>¿Como modificar los datos del perfil?</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Desde el menú principal, seleccionar el icono que se encuentra en la parte superior izquierda. Se desplegará un menú secundario donde se podrá seleccionar el perfil para modificarlo
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>¿Como cargar los datos de una mascota?</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Desde el menú principal, seleccionar el icono que se encuentra en la parte superior izquierda. Se desplegará un menú secundario donde se podrá seleccionar el perfil para modificarlo
  </ion-card-content>
</ion-card>
<ion-card-title>Dueños</ion-card-title>

<ion-card>
  <ion-card-header>
    <ion-card-title>¿Como contratar un servicio?</ion-card-title>
  </ion-card-header>
  
  <ion-card-content>
    <div>
     En el menu principal podra seleccionar en el boton SERVICIOS para seleccionar el servicio que desee contratar</div>
    
        <img src="../../assets/img/paseo1.png" />
     
  

      <div>Una vez que se encuentre en la sección SERVICOS, podrá elegir el tipo de servicio que desee, optar por filtrar la zona o simplemente seleccionar la opción BUSCAR AVISOS y traerá todas las zonas.
    Aquí podrá ver el detalle de cada servicio brindado y contactarse con cada especialidad</div>

    <ion-card-content><img src="../../assets/img/paso2.png" /></ion-card-content>

    
    
    
  </ion-card-content>

  

</ion-card>

<ion-card-title>Paseadores</ion-card-title>
<ion-card>
  <ion-card-header>
    <ion-card-title>¿Como realizar una publicación?</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Aquí 
  </ion-card-content>
</ion-card>


</ion-content>