<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Avisos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="authUser?.tipoPerfil !== 'Duenio'">
    <ion-list-header>
      <ion-label class="titulo">Mis Avisos</ion-label>
    </ion-list-header>
    <ion-card *ngFor="let aviso of avisos; let i = index">
      <!-- <img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y" /> -->
      <ion-card-header>
        <ion-card-title>
          {{aviso.tipoServicio.nombre}}
        </ion-card-title>
        <ion-card-subtitle>
          Publicado el
          {{aviso.fechaPublicacion.dayOfMonth}}/{{aviso.fechaPublicacion.monthValue}}/{{aviso.fechaPublicacion.year}}
        </ion-card-subtitle>
        <ion-card-subtitle>
          {{aviso.detalle}}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button size="small" color="danger" fill="outline" slot="end" (click)="eliminar(aviso.idAviso, i)">Eliminar
        </ion-button>
        <!--
      <ion-button size="small" color="warning" slot="end" (click)="editar(aviso.id)">Editar</ion-button>
      -->
        <!-- <ion-button size="small" slot="end" (click)="verMascota(aviso.idPerro)">Ver Mascota</ion-button> -->
        <ion-button size="small" slot="end" fill="outline" (click)="verDetalle(aviso.idAviso)">Ver Detalle</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>



  <ion-list *ngIf="authUser?.tipoPerfil == 'Duenio'">
    <ion-item lines="none">Avisos Publicados</ion-item>
    <ion-item lines="none">
      <ion-label>Tipo de servicio</ion-label>
      <ion-select [(ngModel)]="idTipoElegido" placeholder="Seleccione tipo" type="text" name="tipoServicio">
        <ion-select-option value="{{tipo.idTipoServicio}}" *ngFor="let tipo of tipos">{{tipo.nombre}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none">Zona</ion-item>
    <ion-item lines="none">
      <ion-searchbar [(ngModel)]="zonaEscrita" placeholder="Filtrar Zonas"></ion-searchbar>
    </ion-item>
    <ion-item lines="none">
      <ion-select [(ngModel)]="zonaElegida" (click)="filtrarZonasSelect()" class="ionSelectSize"
        placeholder="Seleccione zona" type="text" name="zona">
        <ion-select-option value="{{zona.idZona}}" *ngFor="let zona of zonasFiltradas">{{zona.nombreZona}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-button size="small" slot="end" (click)="aplicarFiltros()">Buscar Avisos</ion-button>
    </ion-item>
    <!-- <ion-list-header>
      <ion-item>
        <ion-label class="titulo">Avisos Publicados</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="titulo">Tipo de Servicio</ion-label>
      </ion-item>
    </ion-list-header> -->
    <ion-card *ngFor="let avisoActivo of avisosActivosFiltrados; let i = index">
      <!-- <img src="../../assets/img/aviso.png" style="max-width: 40px;" /> -->
      <ion-card-header>
        <ion-card-title>
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="ion-text-start ion-text-nowrap">
                  <h2>{{avisoActivo.tipoServicio.nombre}}</h2>
                </div>
              </ion-col>
              <ion-col>
                <div class="ion-text-end ion-text-nowrap">
                  <h2>${{avisoActivo.precio}}</h2>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-title>
        <ion-card-subtitle>
          Publicado el
          {{avisoActivo.fechaPublicacion.dayOfMonth}}/{{avisoActivo.fechaPublicacion.monthValue}}/{{avisoActivo.fechaPublicacion.year}}
        </ion-card-subtitle>
        <ion-card-subtitle>
          Publicante: {{avisoActivo.nombre}} {{avisoActivo.apellido}}
        </ion-card-subtitle>
        <ion-card-subtitle>
          Calificacion: {{avisoActivo.calificacion}}
          <ion-icon name="star"></ion-icon>
        </ion-card-subtitle>
        <ion-card-subtitle>
          {{avisoActivo.detalle}}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <!-- <ion-button size="small" color="success" slot="end"
          (click)="realizar(avisoActivo.idAviso, avisoActivo.idPerro, i)">Realizar</ion-button> -->
        <!--
    <ion-button size="small" color="warning" slot="end" (click)="editar(aviso.id)">Editar</ion-button>
    -->
        <!-- <ion-button size="small" slot="end" fill="outline" (click)="verMascota(avisoActivo.idPerro)">Ver Mascota
        </ion-button> -->
        <ion-button size="small" slot="end" fill="outline" (click)="verDetalle(avisoActivo.idAviso)">Ver Detalle</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>