<ion-header>
  <ion-toolbar>
    <ion-title>Promociones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="promocionForm" (ngSubmit)="submit()" >
    <ion-list>
        <ion-list-header>
          <ion-label class="titulo">Crear una nueva Promocion</ion-label>
        </ion-list-header>
      <ion-item>
        <ion-label>Descripcion</ion-label>
        <ion-input formControlName="descripcion" type="text" name="descripcion"></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.descripcion">
        <ng-container *ngIf="descripcion.hasError(error.type) && (descripcion.dirty || descripcion.touched)">
          <small class="error-message">{{ error.message }}</small>
        </ng-container>
      </div>
    </ion-list>

      <ion-button [disabled]="!promocionForm.valid" expand="block" type="submit" class="add"><ion-icon name="add-outline"></ion-icon> Crear promoción</ion-button>
  
    </form>
</ion-content>
