<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Promociones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let promocion of promociones; let i = index">
    <ion-card-header>
      <ion-card-title>
        Promocion #{{promocion.idPromocion}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle>Detalle: {{promocion.detalle}}</ion-card-subtitle>
      <ion-card-subtitle>Valido hasta:
        {{promocion.fechaVigencia.dayOfMonth}}/{{promocion.fechaVigencia.monthValue}}/{{promocion.fechaVigencia.year}}
      </ion-card-subtitle>
      <ion-card-subtitle>Cantidad de servicios para aplicar: {{promocion.cantidadPaseos}}</ion-card-subtitle>
      <ion-button size="small" slot="end" fill="outline">Ver Detalle</ion-button>
      <ion-button *ngIf="promocion.activa" size="small" color="danger" fill="outline" slot="end">Desactivar
      </ion-button>
      <ion-button *ngIf="!promocion.activa" size="small" color="success" fill="outline" slot="end">Activar
      </ion-button>
    </ion-card-content>
  </ion-card>
  <div class="button-bottom">
    <ion-button expand="block" type="submit" class="add" [routerLink]="'/home/promociones/promocion-agregar'">
      Crear Promocion
    </ion-button>
  </div>
</ion-content>