<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Historial de servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label class="titulo">Mis Servicios Historicos</ion-label>
    </ion-list-header>
    <ion-card *ngIf="servicios.length<=0">
      <ion-card-content>
        Usted no posee servicios historicos aún.
      </ion-card-content>
    </ion-card>
    <ion-item lines="none">
      <ion-label>
        Fecha Desde
      </ion-label>
      <ion-datetime name="fechaNacimiento" displayFormat="DD/MM/YYYY" placeholder="Seleccione Fecha" [(ngModel)]="fechaDesde">
      </ion-datetime>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        Fecha Hasta
      </ion-label>
      <ion-datetime name="fechaNacimiento" displayFormat="DD/MM/YYYY" placeholder="Seleccione Fecha" [(ngModel)]="fechaHasta">
      </ion-datetime>
    </ion-item>
    <ion-item lines="none">
      <ion-button (click)="filtrar()">Filtrar</ion-button>
    </ion-item>
    <ion-card *ngFor="let servicio of serviciosFiltrados; let i = index">
      <ion-card-header>
        <ion-card-title >
          <ion-item style="margin-left: -18px;margin-right: -16px;margin-top: -16px;--background: aliceblue;">
            <img src="../../assets/img/servicio2.png" style="padding:5px;max-width: 50px;" />
            <h3 style="vertical-align: middle; margin-top: 20px;font-weight:bold;font-size:24px;">#{{servicio?.idServicio}} - {{servicio?.tipoServicio.nombre}}</h3>
          </ion-item>
        </ion-card-title>
        <ion-card-subtitle>
          Realizado el
          {{servicio?.fechaRealizacion.dayOfMonth}}/{{servicio?.fechaRealizacion.monthValue}}/{{servicio?.fechaRealizacion.year}}
          a las {{servicio?.horario.hour}}:{{servicio?.horario.minute}}
        </ion-card-subtitle>
        <ion-card-subtitle *ngIf="authUser?.tipoPerfil == 'Duenio'">
          Prestador: {{servicio?.nombrePrestador}} {{servicio?.apellidoPrestador}}
          <ion-chip *ngIf="habilitaCalificar(servicio)" class="ion-margin-start">
            <ion-avatar>
              <img src="../../assets/img/calificacion.png">
            </ion-avatar>
            <ion-label>{{ servicio.calificacionPrestador }}</ion-label>
          </ion-chip>
        </ion-card-subtitle>
        <ion-card-subtitle *ngIf="authUser?.tipoPerfil != 'Duenio'">
          Dueño: {{servicio?.nombreDuenio}} {{servicio?.apellidoDuenio}}
          <ion-chip *ngIf="habilitaCalificar(servicio)" class="ion-margin-start">
            <ion-avatar>
              <img src="../../assets/img/calificacion.png">
            </ion-avatar>
            <ion-label>{{ servicio.calificacionDuenio }}</ion-label>
          </ion-chip>
        </ion-card-subtitle>
        <ion-card-subtitle *ngIf="authUser?.tipoPerfil == 'Duenio'">
          Email: {{servicio?.emailPrestador}}
        </ion-card-subtitle>
        <ion-card-subtitle *ngIf="authUser?.tipoPerfil != 'Duenio'">
          Email: {{servicio?.emailDuenio}}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button [disabled]="habilitaCalificar(servicio)" size="small" color="success" slot="end" (click)="calificar(servicio.idServicio)">Calificar
        </ion-button>
        <ion-button size="small" slot="end" (click)="verDetalle(servicio.idServicio)">Ver Detalle</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>