<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Mascota</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registrationForm" (ngSubmit)="submit()" >
  <ion-list>
      <ion-list-header>
        <ion-label class="titulo">Editar Mascota</ion-label>
      </ion-list-header>
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input formControlName="nombre" type="text" name="nombre" value="{{mascota?.nombre}}"></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.nombre">
      <ng-container *ngIf="nombre.hasError(error.type) && (nombre.dirty || nombre.touched)">
        <small class="error-message">{{ error.message }}</small>
      </ng-container>
    </div>
    <ion-item>
      <ion-label>Raza</ion-label>
      <ion-select placeholder="Seleccione raza por favor" formControlName="raza" type="text" name="raza">
        <ion-select-option value="{{mascota?.raza}}" *ngFor="let raza of razas">{{raza.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
    <div *ngFor="let error of errorMessages.raza">
      <ng-container *ngIf="raza.hasError(error.type) && (raza.dirty || raza.touched)">
        <small class="error-message">{{ error.message }}</small>
      </ng-container>
    </div>
    <ion-item>Descripción</ion-item>
    <ion-item>
      <ion-textarea formControlName="descripcion" value="{{mascota?.descripcion}}"></ion-textarea>
    </ion-item>
    <div *ngFor="let error of errorMessages.descripcion">
      <ng-container *ngIf="descripcion.hasError(error.type) && (descripcion.dirty || descripcion.touched)">
        <small class="error-message">{{ error.message }}</small>
      </ng-container>
    </div>
    <ion-item lines="none">
      <ion-label>Fecha Nacimiento</ion-label>
      <ion-datetime name="fechaNacimiento" placeholder="Seleccione una fecha" [max]="today" (ionChange)="calcEdad()" value="{{mascota?.fechaNacimiento}}" ></ion-datetime>
    </ion-item>
    <div *ngFor="let error of errorMessages.fechaNacimiento">
      <ng-container *ngIf="fechaNacimiento.hasError(error.type) && (fechaNacimiento.dirty || fechaNacimiento.touched)">
        <small class="error-message">{{ error.message }}</small>
      </ng-container>
    </div>
    <ion-item>
      <ion-label style="font-size:13px;" > Su mascota tiene  años</ion-label>
      <ion-icon slot="end" name="information-circle-outline"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label class="titulo">Cuidados</ion-label>
    </ion-list-header>
    <ion-item>Cuidados Especiales</ion-item>
    <ion-item>
      <ion-textarea formControlName="cuidadosEspeciales" value="{{mascota?.cuidadosEspeciales}}" ></ion-textarea>
    </ion-item>
    <div *ngFor="let error of errorMessages.cuidadosEspeciales">
      <ng-container *ngIf="cuidadosEspeciales.hasError(error.type) && (cuidadosEspeciales.dirty || cuidadosEspeciales.touched)">
        <small class="error-message">{{ error.message }}</small>
      </ng-container>
    </div>
    <ion-item>Enfermedades Previas</ion-item>
    <ion-item>
      <ion-textarea formControlName="enfermedadesPrevias" value="{{mascota?.enfermedadesPrevias}}"></ion-textarea>
    </ion-item>
    <div *ngFor="let error of errorMessages.enfermedadesPrevias">
      <ng-container *ngIf="enfermedadesPrevias.hasError(error.type) && (enfermedadesPrevias.dirty || enfermedadesPrevias.touched)">
        <small class="error-message">{{ error.message }}</small>
      </ng-container>
    </div>
    <ion-radio-group name="desparasitado" formControlName="desparasitado" value="{{mascota?.desparasitado}}" >
      <ion-list-header>
        <ion-label>Está desparasitado?</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Si</ion-label>
        <ion-radio slot="start" value="1"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>No</ion-label>
        <ion-radio slot="start" value="0"></ion-radio>
      </ion-item>
    </ion-radio-group>
    <div *ngFor="let error of errorMessages.desparasitado">
      <ng-container *ngIf="desparasitado.hasError(error.type) && (desparasitado.dirty || desparasitado.touched)">
        <small class="error-message">{{ error.message }}</small>
      </ng-container>
    </div>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label class="titulo">Conozcamonos</ion-label>
    </ion-list-header>
    <ion-radio-group name="paseoAlgunaVez" formControlName="paseoAlgunaVez" value="1">
      <ion-list-header>
        <ion-label>Paseó alguna vez?</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Si</ion-label>
        <ion-radio slot="start" value="1"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>No</ion-label>
        <ion-radio slot="start" value="0"></ion-radio>
      </ion-item>
    </ion-radio-group>
    <div *ngFor="let error of errorMessages.paseoAlgunaVez">
      <ng-container *ngIf="paseoAlgunaVez.hasError(error.type) && (paseoAlgunaVez.dirty || paseoAlgunaVez.touched)">
        <small class="error-message">{{ error.message }}</small>
      </ng-container>
    </div>
    <ion-radio-group name="paseoConUnPaseador" formControlName="paseoConUnPaseador" value="1">
      <ion-list-header>
        <ion-label>En caso de haber paseado, solo con su dueño o con paseador?</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Solo dueño</ion-label>
        <ion-radio slot="start" value="0"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Paseador también</ion-label>
        <ion-radio slot="start" value="1"></ion-radio>
      </ion-item>
    </ion-radio-group>
    <div *ngFor="let error of errorMessages.paseoConUnPaseador">
      <ng-container *ngIf="paseoConUnPaseador.hasError(error.type) && (paseoConUnPaseador.dirty || paseoConUnPaseador.touched)">
        <small class="error-message">{{ error.message }}</small>
      </ng-container>
    </div>
    <ion-radio-group name="paseaFrecuente" formControlName="paseaFrecuente" value="1">
      <ion-list-header>
        <ion-label>Interactúa con otros perros y animales frecuentemente?</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Si</ion-label>
        <ion-radio slot="start" value="1"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>No</ion-label>
        <ion-radio slot="start" value="0"></ion-radio>
      </ion-item>
    </ion-radio-group>
    <div *ngFor="let error of errorMessages.paseaFrecuente">
      <ng-container *ngIf="paseaFrecuente.hasError(error.type) && (paseaFrecuente.dirty || paseaFrecuente.touched)">
        <small class="error-message">{{ error.message }}</small>
      </ng-container>
    </div>
    <ion-radio-group name="paseoConOtrosPerros" formControlName="paseoConOtrosPerros" value="1">
      <ion-list-header>
        <ion-label>Compartió paseos o momentos con otros perros?</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Si</ion-label>
        <ion-radio slot="start" value="1"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>No</ion-label>
        <ion-radio slot="start" value="0"></ion-radio>
      </ion-item>
    </ion-radio-group>
    <div *ngFor="let error of errorMessages.paseoConOtrosPerros">
      <ng-container *ngIf="paseoConOtrosPerros.hasError(error.type) && (paseoConOtrosPerros.dirty || paseoConOtrosPerros.touched)">
        <small class="error-message">{{ error.message }}</small>
      </ng-container>
    </div>
  </ion-list>
  <ion-button [disabled]="!registrationForm.valid" expand="block" type="submit" class="add">Aceptar</ion-button>
  <ion-button [routerLink]="'/home/mascotas'" expand="block" color="danger">Cancelar</ion-button>

  </form>
</ion-content>
