<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="secondary">Editar Mascota</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registrationForm" (ngSubmit)="submit()">
    <ion-list>
      <!-- <ion-avatar slot="start" style="height:10em ;width: auto;" (click)="subirImagen(mascota?.idPerro)"> -->
      <!-- <img src="../../assets/img/{{mascota?.raza.nombre}}.jpg"> -->
      <img style="height:20em ;width: auto;" (click)="subirImagen(mascota?.idPerro)" class="center profile-image"
        src={{muestraImagen()}}>
      <!-- </ion-avatar> -->
      <ion-item>
        <ion-label color="secondary">Nombre</ion-label>
        <ion-input formControlName="nombre" type="text" name="nombre" value="{{mascota?.nombre}}"></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.nombre">
        <ng-container *ngIf="nombre.hasError(error.type) && (nombre.dirty || nombre.touched)">
          <small class="error-message">{{ error.message }}</small>
        </ng-container>
      </div>

      <ion-item lines="none">
        <ion-label color="secondary">Raza</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-searchbar formControlName="filtroRazas" placeholder="Filtrar Razas"></ion-searchbar>
      </ion-item>
      <ion-item>
        <ion-select value="{{mascota?.raza.idRaza}}" (click)="filtrarRazas()" class="ionSelectSize"
          placeholder="{{mascota?.raza.nombre}}" formControlName="raza" type="text" name="raza">
          <ion-select-option value="{{raza?.idRaza}}" *ngFor="let raza of razasFiltradas">{{raza?.nombre}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngFor="let error of errorMessages.raza">
        <ng-container *ngIf="raza.hasError(error.type) && (raza.dirty || raza.touched)">
          <small class="error-message">{{ error.message }}</small>
        </ng-container>
      </div>

      <ion-item>
        <ion-label color="secondary">Fecha Nacimiento</ion-label>
        <ion-datetime name="fechaNacimiento" displayFormat="DD/MM/YYYY" placeholder="Elija Fecha"
          formControlName="fechaNacimiento"
          value="{{mascota?.fechaNacimiento.monthValue}}/{{mascota?.fechaNacimiento.dayOfMonth}}/{{mascota?.fechaNacimiento.year}}">
        </ion-datetime>
      </ion-item>
      <div *ngFor="let error of errorMessages.fechaNacimiento">
        <ng-container
          *ngIf="fechaNacimiento.hasError(error.type) && (fechaNacimiento.dirty || fechaNacimiento.touched)">
          <small class="error-message">{{ error.message }}</small>
        </ng-container>
      </div>

      <ion-item lines="none">
        <ion-label color="secondary">Cómo describirías a tu Perruno?</ion-label>
      </ion-item>
      <ion-item>
        <ion-textarea formControlName="descripcion" value="{{mascota?.descripcion}}"></ion-textarea>
      </ion-item>
      <div *ngFor="let error of errorMessages.descripcion">
        <ng-container *ngIf="descripcion.hasError(error.type) && (descripcion.dirty || descripcion.touched)">
          <small class="error-message">{{ error.message }}</small>
        </ng-container>
      </div>

    </ion-list>
    <ion-list>

      <ion-item color="secondary">Cuidados</ion-item>

      <ion-item>
        <ion-label color="secondary">Cuidados Especiales</ion-label>
      </ion-item>
      <ion-item>
        <ion-textarea formControlName="cuidadosEspeciales" value="{{mascota?.cuidadosEspeciales}}"></ion-textarea>
      </ion-item>
      <div *ngFor="let error of errorMessages.cuidadosEspeciales">
        <ng-container
          *ngIf="cuidadosEspeciales.hasError(error.type) && (cuidadosEspeciales.dirty || cuidadosEspeciales.touched)">
          <small class="error-message">{{ error.message }}</small>
        </ng-container>
      </div>

      <ion-item>
        <ion-label color="secondary">Enfermedades Previas</ion-label>
      </ion-item>
      <ion-item>
        <ion-textarea formControlName="enfermedadesPrevias" value="{{mascota?.enfermedadesPrevias}}"></ion-textarea>
      </ion-item>
      <div *ngFor="let error of errorMessages.enfermedadesPrevias">
        <ng-container
          *ngIf="enfermedadesPrevias.hasError(error.type) && (enfermedadesPrevias.dirty || enfermedadesPrevias.touched)">
          <small class="error-message">{{ error.message }}</small>
        </ng-container>
      </div>

      <ion-item lines="none">
        <ion-label color="secondary" lines="none">Está desparasitado?</ion-label>
      </ion-item>
      <ion-item>
        <ion-label color="medium"></ion-label>
        <ion-label color="medium"></ion-label>
        <ion-label color="medium">No</ion-label>
        <ion-toggle *ngIf="mascota" [(ngModel)]="mascota.desparasitado" [ngModelOptions]="{standalone: true}">
        </ion-toggle>
        <ion-label color="medium"></ion-label>
        <ion-label color="medium">Si</ion-label>
      </ion-item>

    </ion-list>

    <ion-list>
      <ion-item color="secondary" class="titulo">Vamos a conocernos un poco más...</ion-item>

      <ion-list-header>
        <ion-label color="secondary" lines="none">Paseó alguna vez?</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label color="medium"></ion-label>
        <ion-label color="medium"></ion-label>
        <ion-label color="medium">No</ion-label>
        <ion-toggle *ngIf="mascota" [(ngModel)]="mascota.paseoAlgunaVez" [ngModelOptions]="{standalone: true}">
        </ion-toggle>
        <ion-label color="medium"></ion-label>
        <ion-label color="medium">Si</ion-label>
      </ion-item>

      <ion-list-header *ngIf="mascota?.paseoAlgunaVez">
        <ion-label color="secondary" lines="none">En caso de haber paseado, con su dueño o con un paseador?
        </ion-label>
      </ion-list-header>
      <ion-item *ngIf="mascota?.paseoAlgunaVez">
        <ion-label color="medium"></ion-label>
        <ion-label color="medium">Dueño</ion-label>
        <ion-toggle *ngIf="mascota" [(ngModel)]="mascota.paseoConUnPaseador" [ngModelOptions]="{standalone: true}">
        </ion-toggle>
        <ion-label color="medium">Paseador</ion-label>
      </ion-item>

      <ion-list-header *ngIf="mascota?.paseoAlgunaVez">
        <ion-label color="secondary" lines="none">Compartió paseos con otros perros?</ion-label>
      </ion-list-header>
      <ion-item *ngIf="mascota?.paseoAlgunaVez">
        <ion-label color="medium"></ion-label>
        <ion-label color="medium"></ion-label>
        <ion-label color="medium">No</ion-label>
        <ion-toggle *ngIf="mascota" [(ngModel)]="mascota.paseoConOtrosPerros" [ngModelOptions]="{standalone: true}">
        </ion-toggle>
        <ion-label color="medium"></ion-label>
        <ion-label color="medium">Si</ion-label>
      </ion-item>

      <ion-list-header>
        <ion-label color="secondary" lines="none">Interactúa con otros perros y animales frecuentemente?</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label color="medium"></ion-label>
        <ion-label color="medium"></ion-label>
        <ion-label color="medium">No</ion-label>
        <ion-toggle *ngIf="mascota" [(ngModel)]="mascota.paseaFrecuente" [ngModelOptions]="{standalone: true}">
        </ion-toggle>
        <ion-label color="medium"></ion-label>
        <ion-label color="medium">Si</ion-label>
      </ion-item>
    </ion-list>
    <ion-button [disabled]="!registrationForm.valid" expand="block" type="submit" class="add">Aceptar</ion-button>
    <ion-button [routerLink]="'/home/mascotas'" expand="block" color="danger">Cancelar</ion-button>

  </form>
</ion-content>