<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle de Aviso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div align="center">
    <h1> {{aviso?.tipoServicio.nombre}}</h1>
    <img style="height:20em ;width: auto;" class="center profile-image" src={{aviso?.imagenPerfil}}>
    <h4> Publicado el
      {{aviso?.fechaPublicacion.dayOfMonth}}/{{aviso?.fechaPublicacion.monthValue}}/{{aviso?.fechaPublicacion.year}}
    </h4>
    <h5></h5>
  </div>

  <ion-list>
    <ion-item>
      <ion-label floating>Nombre {{aviso?.tipoPerfil.nombre}}</ion-label>
      <ion-text color="medium" type="text" name="name" required>{{aviso?.nombre}} {{aviso?.apellido}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label floating>Zona</ion-label>
      <ion-text color="medium" type="text" name="name" required>{{aviso?.zona.nombreZona}}</ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-label floating>Detalle</ion-label>
    </ion-item>
    <ion-item>
      <ion-text color="medium" type="text" name="name" required>{{aviso?.detalle}}</ion-text>
    </ion-item>
    <ion-item lines="none" *ngIf="aviso?.tipoPerfil.nombrePerfil=='Paseador'">
      <ion-label floating>Qué dias pasea?</ion-label>
    </ion-item>
    <ion-item *ngIf="aviso?.tipoPerfil.nombrePerfil=='Paseador' && aviso?.lunes">
      <ion-text *ngIf="aviso?.lunes" color="medium" type="text" name="name" required>Lunes</ion-text>
    </ion-item>
    <ion-item *ngIf="aviso?.tipoPerfil.nombrePerfil=='Paseador' && aviso?.martes">
      <ion-text *ngIf="aviso?.martes" color="medium" type="text" name="name" required>Martes</ion-text>
    </ion-item>
    <ion-item *ngIf="aviso?.tipoPerfil.nombrePerfil=='Paseador' && aviso?.miercoles">
      <ion-text *ngIf="aviso?.miercoles" color="medium" type="text" name="name" required>Miércoles</ion-text>
    </ion-item>
    <ion-item *ngIf="aviso?.tipoPerfil.nombrePerfil=='Paseador' && aviso?.jueves">
      <ion-text *ngIf="aviso?.jueves" color="medium" type="text" name="name" required>Jueves</ion-text>
    </ion-item>
    <ion-item *ngIf="aviso?.tipoPerfil.nombrePerfil=='Paseador' && aviso?.viernes">
      <ion-text *ngIf="aviso?.viernes" color="medium" type="text" name="name" required>Viernes</ion-text>
    </ion-item>
    <ion-item *ngIf="aviso?.tipoPerfil.nombrePerfil=='Paseador' && aviso?.sabado">
      <ion-text *ngIf="aviso?.sabado" color="medium" type="text" name="name" required>Sábado</ion-text>
    </ion-item>
    <ion-item *ngIf="aviso?.tipoPerfil.nombrePerfil=='Paseador' && aviso?.domingo">
      <ion-text *ngIf="aviso?.domingo" color="medium" type="text" name="name" required>Domingo</ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-label floating>Horario</ion-label>
    </ion-item>
    <ion-item>
      <ion-text color="medium" type="text" name="name" required>{{aviso?.horario}}</ion-text>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="authUser?.tipoPerfil == 'Duenio'">
    <ion-label>Mascota</ion-label>
    <ion-select [(ngModel)]="idMascota" interface="popover" placeholder="Seleccione una mascota" name="mascotaSeleccionada">
      <ion-select-option value="{{mascota?.idPerro}}" *ngFor="let mascota of mascotas">{{mascota.nombre}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button [disabled]="puedoContactar()" *ngIf="authUser?.id!=aviso?.idUsuario" color="success" expand="block" (click)="contactar()">
    <ion-icon name="logo-whatsapp"></ion-icon>
    Contactar
  </ion-button>
</ion-content>