<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Aviso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="avisoForm" (ngSubmit)="submit()">
    <ion-list>
      <!-- <ion-list-header>
        <ion-label class="titulo">Crear un nuevo aviso</ion-label>
      </ion-list-header> -->
      <ion-item>
        <ion-label>Tipo de servicio</ion-label>
        <ion-select placeholder="Seleccione tipo" formControlName="tipoServicio" type="text" name="tipoServicio">
          <ion-select-option value="{{tipo.idTipoServicio}}" *ngFor="let tipo of tipos">{{tipo.nombre}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngFor="let error of errorMessages.tipoServicio">
        <ng-container *ngIf="tipoServicio.hasError(error.type) && (tipoServicio.dirty || tipoServicio.touched)">
          <small class="error-message">{{ error.message }}</small>
        </ng-container>
      </div>

      <ion-item lines="none">Detallá un poco tu servicio</ion-item>
      <ion-item>
        <ion-textarea color="medium" formControlName="detalle" type="text" name="detalle"></ion-textarea>
      </ion-item>
      <div *ngFor="let error of errorMessages.detalle">
        <ng-container *ngIf="detalle.hasError(error.type) && (detalle.dirty || detalle.touched)">
          <small class="error-message">{{ error.message }}</small>
        </ng-container>
      </div>
      
      <ion-item lines="none">Qué días estás diponible?</ion-item>
      <ion-list>
        <ion-radio-group formControlName="lunes" allow-empty-selection="true" value="false">
          <ion-item>
            <ion-label color="medium">Lunes</ion-label>
            <ion-radio color="success" value="true"></ion-radio>
          </ion-item>
        </ion-radio-group>
        <ion-radio-group formControlName="martes" allow-empty-selection="true" value="false">
          <ion-item>
            <ion-label color="medium">Martes</ion-label>
            <ion-radio color="success" value="true"></ion-radio>
          </ion-item>
        </ion-radio-group>
        <ion-radio-group formControlName="miercoles" allow-empty-selection="true" value="false">
          <ion-item>
            <ion-label color="medium">Miércoles</ion-label>
            <ion-radio color="success" value="true"></ion-radio>
          </ion-item>
        </ion-radio-group>
        <ion-radio-group formControlName="jueves" allow-empty-selection="true" value="fasle">
          <ion-item>
            <ion-label color="medium">Jueves</ion-label>
            <ion-radio color="success" value="true"></ion-radio>
          </ion-item>
        </ion-radio-group>
        <ion-radio-group formControlName="viernes" allow-empty-selection="true" value="false">
          <ion-item>
            <ion-label color="medium">Viernes</ion-label>
            <ion-radio color="success" value="true"></ion-radio>
          </ion-item>
        </ion-radio-group>
        <ion-radio-group formControlName="sabado" allow-empty-selection="true" value="false">
          <ion-item>
            <ion-label color="medium">Sábado</ion-label>
            <ion-radio color="success" value="true"></ion-radio>
          </ion-item>
        </ion-radio-group>
        <ion-radio-group formControlName="domingo" allow-empty-selection="true" value="false">
          <ion-item>
            <ion-label color="medium">Domingo</ion-label>
            <ion-radio color="success" value="true"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <!-- <ion-item lines="none"></ion-item> -->

      <ion-item lines="none">En qué horario</ion-item>
      <ion-item>
        <ion-textarea color="medium" type="text" formControlName="horario" name="horario"></ion-textarea>
      </ion-item>
      <div *ngFor="let error of errorMessages.horario">
        <ng-container *ngIf="horario.hasError(error.type) && (horario.dirty || horario.touched)">
          <small class="error-message">{{ error.message }}</small>
        </ng-container>
      </div>

      <ion-item>
        <ion-label>Precio</ion-label>
        <ion-input color="medium" formControlName="precio" type="number" name="precio"></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.precio">
        <ng-container *ngIf="precio.hasError(error.type) && (precio.dirty || precio.touched)">
          <small class="error-message">{{ error.message }}</small>
        </ng-container>
      </div>

      <ion-item lines="none">Zona</ion-item>
      <ion-item lines="none">
        <ion-searchbar formControlName="filtroZonas" placeholder="Filtrar Zonas"></ion-searchbar>
      </ion-item>
      <ion-item>
        <ion-select (click)="filtrarZonas()" class="ionSelectSize" placeholder="Seleccione zona" formControlName="zona"
          type="text" name="zona">
          <ion-select-option value="{{zona.idZona}}" *ngFor="let zona of zonasFiltradas">{{zona.nombreZona}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngFor="let error of errorMessages.zona">
        <ng-container *ngIf="zona.hasError(error.type) && (zona.dirty || zona.touched)">
          <small class="error-message">{{ error.message }}</small>
        </ng-container>
      </div>
    </ion-list>


    <ion-button [disabled]="!avisoForm.valid" expand="block" type="submit" class="add">
      <ion-icon name="add-outline"></ion-icon> Crear aviso
    </ion-button>
  </form>
</ion-content>