<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <!--<ion-title>{{mascota?.idPerro}}</ion-title>   esto esta mostrando el id del perro-->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div align="center">

    <h1> {{mascota?.nombre}}</h1>
    <!-- <img class="profile-image" src="../../assets/img/{{mascota?.raza.nombre}}.jpg"> -->
    <img style="height:20em ;width: auto;" class="center profile-image" src={{muestraImagen()}}>
    <h4>{{mascota?.raza.nombre}}</h4>
    <h5>Tiene {{(today.getFullYear()-mascota?.fechaNacimiento.year)}} años</h5>
  </div>
  <ion-list>
    <ion-item>
      <ion-label color="secondary" floating>Nombre</ion-label>
      <ion-text type="text" name="name" required>{{mascota?.nombre}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label color="secondary" floating>Raza</ion-label>
      <ion-text type="text" name="name" required>{{mascota?.raza.nombre}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label color="secondary" floating>Sexo</ion-label>
      <ion-text type="text" name="name" required>{{mascota?.sexo}}</ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-label color="secondary" floating>Descripcion</ion-label>
    </ion-item>
    <ion-item>
      <ion-textarea type="text" name="name" required>{{mascota?.descripcion}}</ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label color="secondary" floating>Cuidados Especiales</ion-label>
      <ion-text type="text" name="name" required>{{mascota?.cuidadosEspeciales}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label color="secondary" floating>Enfermedades Previas</ion-label>
      <ion-text type="text" name="name" required>{{mascota?.enfermedadesPrevias}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label color="secondary" floating>Desparasitado</ion-label>
      <ion-text type="text" name="name" required>{{parseTrue(mascota?.desparasitado)}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label color="secondary" floating>Vacuna Antirrábica</ion-label>
      <ion-text type="text" name="name" required>{{parseTrue(mascota?.vacunaDeLaRabia)}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label color="secondary" floating>Vacuna Séxtuple</ion-label>
      <ion-text type="text" name="name" required>{{parseTrue(mascota?.vacunaSextuple)}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label color="secondary" floating>Paseo alguna vez?</ion-label>
      <ion-text type="text" name="name" required>{{parseTrue(mascota?.paseoAlgunaVez)}}</ion-text>
    </ion-item>
    <ion-item *ngIf="mascota?.paseoAlgunaVez">
      <ion-label color="secondary" class="ion-text-wrap" floating>Paseo con su dueño o un paseador?</ion-label>
      <ion-text type="text" name="name" required>{{parsePaseo(mascota?.paseoConUnPaseador)}}</ion-text>
    </ion-item>
    <ion-item *ngIf="mascota?.paseoAlgunaVez">
      <ion-label color="secondary" class="ion-text-wrap" floating>Compartio paseos con otros perros?</ion-label>
      <ion-text type="text" name="name" required>{{parseTrue(mascota?.paseoConOtrosPerros)}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label color="secondary" floating>Interactua con otros animales?</ion-label>
      <ion-text type="text" name="name" required>{{parseTrue(mascota?.paseaFrecuente)}}</ion-text>
    </ion-item>

  </ion-list>
</ion-content>