<ion-header>
  <ion-toolbar>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registrationForm" (ngSubmit)="submit()">
    <ion-item>
      <ion-avatar style="width: 60px;height: auto;" slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>
        <h3>{{parseTipoPerfil(authUser?.tipoPerfil)}}</h3>
      </ion-label>
      <ion-button expand="block" color="warning" (click)="desactivarPerfil()">Eliminar Cuenta</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Apodo</ion-label>
      <ion-input formControlName="apodo" name="apodo" type="text" [(ngModel)]="apodoEdit"></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.apodo">
      <ng-container *ngIf="apodo.hasError(error.type) && (apodo.dirty || apodo.touched)">
        <small class="error-message">{{ error.message }}</small>
      </ng-container>
    </div>
    <ion-item lines="none">
      <ion-label>Fecha Nacimiento</ion-label>
      <ion-datetime name="fechaNacimiento" placeholder="Seleccione una fecha" [max]="today" (ionChange)="calcEdad()"
        formControlName="fechaNacimiento"></ion-datetime>
    </ion-item>
    <div *ngFor="let error of errorMessages.fechaNacimiento">
      <ng-container *ngIf="fechaNacimiento.hasError(error.type) && (fechaNacimiento.dirty || fechaNacimiento.touched)">
        <small class="error-message">{{ error.message }}</small>
      </ng-container>
    </div>
    <ion-item>
      <ion-label>DNI</ion-label>
      <ion-input formControlName="dni" name="dni" type="text" [(ngModel)]="dniEdit"></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.dni">
      <ng-container *ngIf="dni.hasError(error.type) && (dni.dirty || dni.touched)">
        <small class="error-message">{{ error.message }}</small>
      </ng-container>
    </div>
    <ion-item>
      <ion-label>Direccion</ion-label>
      <ion-input formControlName="direccion" name="direccion" type="text" [(ngModel)]="direccionEdit"></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.direccion">
      <ng-container *ngIf="direccion.hasError(error.type) && (direccion.dirty || direccion.touched)">
        <small class="error-message">{{ error.message }}</small>
      </ng-container>
    </div>
    <ion-item>
      <ion-label>Teléfono</ion-label>
      <ion-input formControlName="telefono" name="telefono" type="text" [(ngModel)]="telefonoEdit"></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.telefono">
      <ng-container *ngIf="telefono.hasError(error.type) && (telefono.dirty || telefono.touched)">
        <small class="error-message">{{ error.message }}</small>
      </ng-container>
    </div>
    <ion-button [disabled]="!registrationForm.valid" expand="block" type="submit" class="add">Aceptar</ion-button>
    <ion-button [routerLink]="'/home/menuuser'" expand="block" color="danger">Cancelar</ion-button>
  </form>
</ion-content>