ion-content {
  --padding-bottom: 10px;
  --padding-end: 20px;
  --padding-start: 20px;
  --padding-top: 20px;
}

ion-card {
  padding:12px;
  background-color: #eee;
}
.btn-inicio{
    height:80px;
  }

.icon-menu{
    font-size: 30px;
  }