<ion-header>
  <ion-toolbar>
    <ion-title>Cree su cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image" no-scroll padding>
  <div class="row row-center" style="margin-bottom:170px ;">
    <div class="col text-center">
      <img alt="Logo" height="30%" src="assets/img/logoTxt.png">
    </div>
  </div>

  <ion-card class="loginForm">
    <form [formGroup]="registrationForm" (ngSubmit)="submit()">
      <ion-list>
        <ion-item>
          <ion-label>Seleccione</ion-label>
          <ion-select placeholder="Tipo" formControlName="tipo" type="text" name="tipo" interface="popover">
            <ion-select-option value="{{perfil.idPerfil}}" *ngFor="let perfil of perfiles">
              {{parsearNombre(perfil.nombrePerfil)}}</ion-select-option>
          </ion-select>
        </ion-item>
        <div *ngFor="let error of errorMessages.tipo">
          <ng-container *ngIf="tipo.hasError(error.type) && (tipo.dirty || tipo.touched)">
            <small class="error-message">{{ error.message }}</small>
          </ng-container>
        </div>
        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input
            pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"
            formControlName="email" name="email" type="text"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.email">
          <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
            <small class="error-message">{{ error.message }}</small>
          </ng-container>
        </div>
        <ion-item>
          <ion-label>Nombre</ion-label>
          <ion-input formControlName="nombre" name="nombre" type="text"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.nombre">
          <ng-container *ngIf="nombre.hasError(error.type) && (nombre.dirty || nombre.touched)">
            <small class="error-message">{{ error.message }}</small>
          </ng-container>
        </div>
        <ion-item>
          <ion-label>Apellido</ion-label>
          <ion-input formControlName="apellido" name="apellido" type="text"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.apellido">
          <ng-container *ngIf="apellido.hasError(error.type) && (apellido.dirty || apellido.touched)">
            <small class="error-message">{{ error.message }}</small>
          </ng-container>
        </div>

        <ion-item>
          <ion-label>Teléfono</ion-label>
          <ion-input formControlName="telefono" name="telefono" type="text"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.telefono">
          <ng-container *ngIf="telefono.hasError(error.type) && (telefono.dirty || telefono.touched)">
            <small class="error-message">{{ error.message }}</small>
          </ng-container>
        </div>

        <ion-item>
          <ion-label>Contraseña</ion-label>
          <ion-input autocomplete="off" formControlName="password" name="password" type="password"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.password">
          <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
            <small class="error-message">{{ error.message }}</small>
          </ng-container>
        </div>

        <ion-item>
          <ion-label class="ion-text-wrap">Acepto los <a (click)="linkTyC()">Términos y Condiciones</a></ion-label>
          <ion-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="aceptaTyC" color="primary"></ion-checkbox>
        </ion-item>
      </ion-list>
      <ion-button [disabled]="puedoAceptar()" expand="block" type="submit" class="add">Registrarse</ion-button>

      <ion-item lines='none' style="font-size: 14px;text-align: center;">
        Ya tiene una cuenta?&nbsp;<a routerLink='/login'> Inicie Sesión</a>
      </ion-item>
    </form>
  </ion-card>
</ion-content>